{% extends 'task/base.html' %}

{% block title %}لیست تسک‌ها{% endblock %}

{% block content %}
    <h2>لیست تسک‌ها</h2>

    {% if tasks %}
        <ul>
            {% for task in tasks %}
            <li class="{% if task.completed %}completed{% endif %}">
                <div class="task-details">
                    {{ task.title }}
                    {% if task.due_date %}- مهلت: {{ task.due_date }}{% endif %}
                    {% if task.priority %}- اولویت: {{ task.priority }}{% endif %}
                </div>
                <div class="actions">
                    <a href="{% url 'edit_task' task.id %}">✏️ ویرایش</a>
                    <a href="{% url 'delete_task' task.id %}">🗑️ حذف</a>
                    <a href="{% url 'toggle_complete' task.id %}">
                        {% if task.completed %}✅ لغو انجام{% else %}☑️ انجام شد{% endif %}
                    </a>
                </div>
            </li>
            
            {% endfor %}
        </ul>
    {% else %}
        <p>تسکی برای نمایش وجود ندارد.</p>
    {% endif %}
{% endblock %}
